* {
    margin: 0;
    pad: 0;
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 1.5rem;
    padding: 50px 0;
}

.logo {
    font-size: 2rem;
    font-family: times, serif;
    font-weight: bold;
    color: #F2F2F2;
    text-shadow: 1px 1px #000;

}

header {
    background-color: #75574F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px black;
}

#menu {
    list-style: none;
    display: flex;
}

#menu li {
    margin-left: 20px;
}

#menu a:link,
a:visited {
    font-size: 1.5rem;
    padding: 20px;
    color: aliceblue;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}

#menu a:active,
a:hover {
    background-color: #F29F05;
    color: #000;
}

#banner {
    background-image: url('../images/G.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;

}

#about {
    background-color: #736A58;
    height: 100vh;
    padding: 50px;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;

}
#gallery {
    background-color: #C5D99A;
    height: 100vh;
    padding: 50px;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;

}

#gallery img {
    width: 250px;
    height: 200px;
    border-radius: 20%;
    box-shadow: 10px 10px 25px #000;
    margin: 30px;
}

#maps{
    background-color: #D9D2D0;
    margin-top: 0px;
    font-size: 1.2;
    box-shadow:1px 1px 10px #000;
}
#contacts{
    background-color:#97BF04 ;
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
}
#contacts label, button{
    display: block;
    margin-top: 20px;

}

#contacts input, textarea{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: floralwhite;
    border: none;
    font-size: 1.1rem;    
}
 #contacts button{
    background-color:#75574F ;
    padding: 20px;
    border-radius: 5px 10px;
    border: none;

}
#contacts button :hover{
    background-color:#D9D2D0;
    border: 1px #FFF solid;
}
footer{
    background-color: #75574F;
    text-align: center;
    color: FFF;
    padding: 10px;
}
 #presente{
    background-color: #E6F2DC;
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    padding: 50px;
}
